@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
/*@import url(/Generica.otf);*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}


body {
    min-height: 100vh;
    width: 100vw;
    background-color: #000;
    overflow-x: hidden;
}

/**/
/**/
/**/

nav {
    position: fixed;
    width: 100%;
    padding: 2em;
    z-index: 111;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li {
    display: inline-block;
    margin: 0 0.7em;
}

nav ul li a {
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
    transition: all 0.3s ease-in-out;
    text-decoration: underline;
}

/**/
/**/
/**/

#header {
    position: relative;
    height: 145vh;
    width: 100vw;
    background: url(/Assets/hquarters.jpg);
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
}

#header #heroBG {
    height: 145vh;
    background: #000;
    opacity: 0;
    z-index: 1213;
}

.reveal {
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.reveal.active {
    opacity: 1;
}

.header-container {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
    padding: 2em;
    padding-top: 7em;
}

.Title img {
    position: relative;
    height: 45em;
    width: auto;
    cursor: pointer;
}

.header-content {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.header-content h1 {
    color: #fff;
    font-weight: 800;
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 3px;
    opacity: 0;
}

.header-content h3 {
    color: #fff;
    font-weight: 400;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 5px;
    opacity: 0;
}

.header-content p {
    color: #fff;
    font-weight: 200;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 5px;
    opacity: 0;
}

.countdown {
    display: flex;
    padding-top: 3em;
    width: 100%;
    height: 100px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #fff;
    opacity: 0;
}

.countdown .timer {
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.countdown .timer .numb {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}

.countdown .timer .text {
    text-align: center;
    font-size: 30px;
    font-weight: 200;
}

.countdown .clone {
    font-size: 55px;
}

/**/
/**/
/**/
/**/
/**/
/**/

.page-content {
    padding: 3em;
    background: #000;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.Letter-Container {
    margin: 12em 7em;
    padding: 3em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.Letter-Container h2 {
    color: #fff;
    font-size: 2.5em;
    margin-bottom: 1em;
}

.Letter-Container p {
    color: #fff;
    font-size: 1.3em;
    margin-bottom: 1em;
}


@media (max-width: 1200px) {
    #header {
        position: relative;
        height: 135vh;
        width: 100vw;
        background: url(/Assets/hquarters.jpg);
        background-size: 100%;
        background-position: center;
        background-attachment: fixed;
    }

    .Title img {
        height: 40em;
    }
}


@media (max-width: 768px) {

    nav {
        position: fixed;
    }

    nav ul li {
        margin: 0 0.5em;
    }

    nav ul li a {
        font-size: 1.1em;
    }

    .Title img {
        height: 35em;
    }

    .header-content {
        padding-top: 2.5em;
    }
}

@media (max-width: 600px) {
    nav {
        position: fixed;
        width: 100%;
        padding: 2em;
        z-index: 111;
    }

    .Title img {
        height: 30em;
    }


    .header-content {
        padding-top: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .header-content h1 {
        color: #fff;
        font-weight: 800;
        font-size: 2.5em;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    .header-content h3 {
        color: #fff;
        font-weight: 700;
        font-size: 1.1em;
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    .header-content p {
        color: #fff;
        font-weight: 500;
        font-size: 1em;
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    .page-content {
        padding: 2em;
    }
    
    .Letter-Container {
        margin: 8em 5em;
        padding: 3em;
    }
    
    .Letter-Container h2 {
        margin-bottom: 1em;
    }
    
    .Letter-Container p {
        margin-bottom: 1em;
    }
}

@media (max-width: 480px) {

    .Title img {
        height: 18em;
    }

    nav ul li {
        margin: 0.3em;
    }

    nav ul li a {
        font-size: 1em;
    }

    .header-content h1 {
        color: #fff;
        font-weight: 800;
        font-size: 2em;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    .header-content h3 {
        color: #fff;
        font-weight: 700;
        font-size: 1.1em;
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    .header-content p {
        color: #fff;
        font-weight: 500;
        font-size: 1em;
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    .Letter-Container h2 {
        font-weight: 500;
        font-size: 1.3em;
        color: rgb(255, 255, 255);
    }

    .Letter-Container p {
        font-weight: 400;
        font-size: 1em;
        color: rgb(255, 255, 255);
    }
    .page-content {
        padding: 2em;
    }
    
    .Letter-Container {
        margin: 6em 3em;
        padding: 2em;
    }
    
}

@media (max-width: 630px) {

    .container img {
        height: 6em;
        margin: 40px;
    }

    .container h1 {
        font-size: 3rem;
        line-height: 3.2rem;
    }

    .container h3 {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    .countdown {
        height: 80px;
    }

    .countdown .timer {
        width: 80px;
    }

    .countdown .timer .numb {
        font-size: 32px;
    }

    .countdown .timer .text {
        font-size: 15px;
    }

    .countdown .clone {
        font-size: 40px;
    }
}

@media (max-width: 600px) {
    .countdown .timer {
        border: none;
    }

    .countdown .timer .numb {
        font-size: 28px;
    }

    .countdown .timer .text {
        font-size: 15px;
    }

    .countdown .clone {
        display: none;
    }
}

@media (max-width: 480px) {
    .container h1 {
        font-size: 1.8rem;
        line-height: 3rem;
    }

    .container h3 {
        font-size: 1.5rem;
        line-height: 1.7rem;
    }

    .countdown {
        height: 50px;
    }

    .countdown .timer {
        width: 65px;
    }
    
}
